@model IEnumerable<ProjectIndexViewModel>

<h1><em>Projects</em></h1>

@if (Model == null || !Model.Any())
{
    <p><em>No projects available</em></p>
}
else
{
    <table class="col-12" cellpadding="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>StartDate</th>
                <th colspan="2">EndDate</th>
            </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@(item.EndDate?.ToShortDateString() ?? "No end date yet")</td>
                <td>
                    <a asp-controller="Project" 
                       asp-action="Detail" 
                       asp-route-id="@item.Id"
                       class="btn btn-secondary">
                        Details
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
}

<a asp-controller="Project" 
   asp-action="Create" 
   class="btn btn-primary">
    Create
</a>