@model ProjectIndexPageViewModel

<h1><em>Projects</em></h1>

<div style="margin:10px;background-color:lightgray">
    <form asp-controller="Project" asp-action="Index" method="post">
        <div class="form-row">
            <div class="col-6">
                <label asp-for="SelectedStatus"></label>
                @Html.DropDownListFor(model => model.SelectedStatus, new SelectList(Model.Statuses, "Value", "Text"))
                <span class="text-danger" asp-validation-for="SelectedStatus"></span>
            </div>
            <div class="col-3">
                <label asp-for="SelectedTag"></label>
                <select asp-for="SelectedTag" asp-items="@Model.Tags"></select>
                <span class="text-danger" asp-validation-for="SelectedTag"></span>
            </div>
            <div class="col">
                <button class="btn btn-secondary" type="submit">Filter</button>
            </div>
        </div>
    </form>
</div>

@if (Model.Projects == null || !Model.Projects.Any())
{
    <p><em>No projects available</em></p>
}
else
{
    <table class="col-12" cellpadding="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>StartDate</th>
                <th colspan="2">EndDate</th>
            </tr>
        </thead>
        <tbody>

        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@(item.EndDate?.ToShortDateString() ?? "No end date yet")</td>
                <td>
                    <a asp-controller="Project"
                       asp-action="Detail"
                       asp-route-id="@item.Id"
                       class="btn btn-secondary">
                        Details
                    </a>

                    <a asp-controller="Project"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-secondary">
                        Edit
                    </a>

                    <a asp-controller="Project"
                       asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-secondary">
                        Delete
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
}

<a asp-controller="Project" 
   asp-action="Create" 
   class="btn btn-primary">
    Create
</a>